@property --dark {
    syntax: "<color>";
    inherits: false;
    initial-value: #344955;
}

@property --light {
    syntax: "<color>";
    inherits: false;
    initial-value: #f7f8f2;
}

@property --mid {
    syntax: "<color>";
    inherits: false;
    initial-value: #d1d4c9;
}

@property --accent {
    syntax: "<color>";
    inherits: false;
    initial-value: #78a083;
}

/* Site Wide */
* {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--dark);
    font-size: 1.05rem;
}

body {
    background-color: var(--light);
}

/* Text & Fonts */
.light-font {
    color: var(--light);
}

.dark-font {
    color: var(--dark);
}

.accent-font {
    color: var(--accent);
}

.paragraph-medium {
    font-size: 1.5rem;
}

.text-justify {
    text-align: justify;
}

.clean-link {
    text-decoration: none;
    color: var(--accent);
}

.clean-link:hover {
    text-decoration: underline;
}

.italic-font {
    font-style: italic;
}

.fancy-title {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* Backgrounds */
.light-background {
    background-color: var(--light);
}

.dark-background {
    background-color: var(--dark);
}

.mid-background {
    background-color: var(--mid);
}

.accent-background {
    background-color: var(--accent);
}

/* Images */
.box-shadow-left {
    box-shadow: -1rem 1rem var(--accent);
    border-radius: 0.25rem;
}

.box-shadow-right {
    box-shadow: 1rem 1rem var(--accent);
    border-radius: 0.25rem;
}

.img-thumbnail {
    background-color: var(--accent);
    border: 0rem solid var(--accent);
}

.center-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Spacing */
.extra-top-padding {
    position: relative;
    top: 50px;
}

/* Buttons */
.btn-kds-light {
    background-color: var(--light);
    border-color: var(--dark);
    border-width: 0.15rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    color: var(--dark);
}

.btn-kds-light:hover {
    background-color: var(--dark);
    color: var(--light);
}

.btn-kds-mid {
    background-color: var(--mid);
    border-color: var(--dark);
    border-width: 0.15rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    color: var(--dark);
}

.btn-kds-mid:hover {
    background-color: var(--dark);
    color: var(--mid);
}

.btn-kds-dark {
    background-color: var(--dark);
    border-color: var(--light);
    border-width: 0.15rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    color: var(--light);
}

.btn-kds-dark:hover {
    background-color: var(--light);
    color: var(--dark);
}

.btn-kds-accent {
    background-color: var(--accent);
    border-color: var(--dark);
    border-width: 0.15rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    color: var(--dark);
}

.btn-kds-accent:hover {
    background-color: var(--dark);
    color: var(--light);
}

.btn-transform:hover {
    transition: 0.4s all;
    transform: scale(1.2);
}

/* Navbar */
.header-image {
    height: 50px;
    width: 50px;
}

.nav-link {
    font-size: 1.25rem;
    color: var(--light);
}

.nav-link:hover {
    color: var(--accent);
    text-decoration: none;
    transform: translate(0, -0.15rem);
}

.active {
    color: var(--accent) !important;
    border-bottom: 0.15rem solid var(--accent);
}

.active:hover {
    text-decoration: none;
}

.navbar-brand {
    font-size: 1.75rem;
}

.navbar-brand:hover {
    color: var(--light);
}

.navbar {
    border-bottom: 0.15rem solid var(--accent);
}

/* Footer */
.footer-background-d-2-l {
    background-image: url("./assets/footer-background-d-2-l.png");
    height: 200px;
    background-position: center;
    background-size: cover;
}

.footer-background-l-2-l {
    background-image: url("./assets/footer-background-l-2-l.png");
    height: 200px;
    background-position: center;
    background-size: cover;
}

.btn-kds-footer {
    background-color: var(--dark);
    border-color: var(--dark);
    border-width: 0.15rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    color: var(--light);
}

.btn-kds-footer:hover {
    background-color: var(--light);
    color: var(--dark);
    border: 0.15rem solid var(--dark);
}

/* Home Page */
.home-background-1 {
    background-image: url("./assets/Home-top-background-crop.png");
    background-position: center;
    background-size: cover;
    height: 45rem;
    border-bottom: 0.2rem solid var(--accent);
}

.home-paragraph > ul > li {
    color: var(--light);
    font-size: 1.5rem;
}

.home-paragraph > p {
    color: var(--light);
    font-size: 1.5rem;
}

/* Experience Page */

.card {
    border: 0.1rem solid var(--dark);
}

.card-header {
    background-color: var(--dark);
    color: var(--light);
    border-bottom: 0.15rem solid var(--dark);
    font-size: 1.5rem;
}

.card-footer {
    background-color: var(--dark);
    color: var(--light);
}

.card-body {
    background-color: var(--light);
    color: var(--dark);
}

.card-body > p {
    text-align: center;
    font-weight: 700;
}

.list-group-item {
    background-color: var(--light);
    color: var(--dark);
    font-weight: 700;
}

.btn-kds-dark-sm {
    background-color: var(--dark);
    border-color: var(--light);
    border-width: 0.15rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: var(--light);
}

.btn-kds-dark-sm:hover {
    background-color: var(--light);
    color: var(--dark);
}

.progress {
    background-color: var(--light);
}

.progress-bar {
    background-color: var(--accent);
}

.skill-item > p {
    color: var(--light);
    font-size: 1.25rem;
    font-weight: 500;
}

.skill-icons {
    fill: var(--light);
}

.skill-title {
    color: var(--light);
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
}

.skill-body {
    color: var(--light);
    text-align: center;
}

.carousel {
    border: 0.15rem solid var(--accent);
}
