.header-image {
    height: 50px;
    width: 50px;
}

.fit-image {
    width: 100%;
    object-fit: cover;
}

.clean-link {
    text-decoration: none;
}

.light-text {
    color: aliceblue;
}

.fancy-title {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.background-1 {
    background-color: #76c06b;
}

.background-green-gradient {
    background-color: #76c06b;
    background-image: linear-gradient(white, #76c06b);
}

.background-2 {
    background-color: #343a40;
}

.background-3 {
    background-color: #053d75;
}

.image-background-1 {
    background-image: url("./assets/back4.jpg");
    background-position: center;
    background-size: cover;
}

.image-background-2 {
    background-image: url("./assets/back1.jpg");
    background-position: center;
    background-size: cover;
}
