{% extends "components/base.html" %} {% block title %}KDS Consulting - About{% endblock %} {% block content %}
<div class="light-background">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto pt-5 pb-3 pb-xl-5">
                <h1 class="text-center fw-bold pt-xl-3 pb-3">Kaitlyn D. Schurmann</h1>
                <h3 class="text-center italic-font">Registered Professional Biologist (RPBio)</h3>
                <h3 class="text-center italic-font">Master of Sciences (MSc)</h3>
            </div>
        </div>
        <div class="row flex-lg-row-reverse pb-5">
            <!-- Profile Picture -->
            <div class="col-10 col-xl-6 pb-5 mx-auto px-lg-5">
                <img class="center-image box-shadow-right" src="static\assets\Kait1.jpg" alt="" />
            </div>

            <!-- Bio -->
            <div class="col-10 col-xl-6 px-xl-0 mx-auto px-xxl-5">
                <h2 class="pb-3">Independent Ecological Consultant</h2>
                <p class="text-justify">
                    Hi! My name is Kaitlyn Schurmann and I'm a Registered Professional Biologist and ecological
                    consultant based on Vancouver Island, Canada.
                </p>
                <p class="text-justify">
                    I grew up on a small dairy farm in British Columbia's Fraser Valley and I have been lucky to spend
                    time all across Western Canada. From Saskatoon where I received my Bachelor of Science
                    (Environmental Science) at the University of Saskatchewan, to Edmonton where I completed my Master
                    of Science (Conservation Biology) at the University of Alberta, and back to BC, spending 5 years in
                    Victoria and finally settling in Campbell River where I live currently.
                </p>
                <p class="text-justify">
                    I'm passionate about applying a holistic lens to ecological issues and finding new ways to approach
                    on-the-ground stewardship challenges. In my work with the five Maa-nulth First Nations, the
                    interconnectedness of all things (hišukiš c̓awaak in the nuučaan̓uł language) is a guiding principle
                    and I strive to apply this view to all projects I take on.
                </p>
                <p class="text-justify">
                    Over the last 15 years, I have worked with Indigenous organizations, federal and provincial
                    governments, academic institutions, and private sector organizations in a range of natural resource
                    positions. My previous roles have included data management and analyses, fieldwork and data
                    collection, reporting, project management, and consultations with expertise in forest inventory,
                    wildlife management, ecological monitoring programs and statistics.
                </p>
                <p class="text-justify">
                    When I'm not working you can find me in the garden, hiking (new trail and camping recommendations
                    are always welcome!), traveling, and exploring the west coast with my partner and pup.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Photo Grid -->
<div class="dark-background">
    <div class="container">
        <h2 class="light-font text-center fw-bold pt-5">Photos of Me in Action</h2>
        <h4 class="light-font text-center fst-italic pb-3">(Click to Enlarge)</h4>
        <div class="row row-cols-1 row-cols-xxl-3 row-cols-xl-3 row-cols-2 g-3 p-5">
            <div class="col">
                <img
                    src="static\assets\About-extra-1.jpg"
                    class="img-thumbnail center-image"
                    alt=""
                    data-bs-toggle="modal"
                    data-bs-target="#Modal1" />
                <div class="modal fade" id="Modal1" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img
                                    src="static\assets\About-extra-1.jpg"
                                    class="img-fluid"
                                    alt=""
                                    data-bs-toggle="modal"
                                    data-bs-target="#Modal1" />
                            </div>
                            <div class="modal-footer">
                                <p>Photo description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img
                    src="static\assets\About-extra-2.jpg"
                    class="img-thumbnail center-image"
                    alt=""
                    data-bs-toggle="modal"
                    data-bs-target="#Modal2" />
                <div class="modal fade" id="Modal2" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img
                                    src="static\assets\About-extra-2.jpg"
                                    class="img-fluid"
                                    alt=""
                                    data-bs-toggle="modal"
                                    data-bs-target="#Modal2" />
                            </div>
                            <div class="modal-footer">
                                <p>Photo description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img
                    src="static\assets\About-extra-3.JPG"
                    class="img-thumbnail center-image"
                    alt=""
                    data-bs-toggle="modal"
                    data-bs-target="#Modal3" />
                <div class="modal fade" id="Modal3" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img
                                    src="static\assets\About-extra-3.JPG"
                                    class="img-fluid"
                                    alt=""
                                    data-bs-toggle="modal"
                                    data-bs-target="#Modal3" />
                            </div>
                            <div class="modal-footer">
                                <p>Photo description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img
                    src="static\assets\About-extra-4.JPG"
                    class="img-thumbnail center-image"
                    alt=""
                    data-bs-toggle="modal"
                    data-bs-target="#Modal4" />
                <div class="modal fade" id="Modal4" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img
                                    src="static\assets\About-extra-4.JPG"
                                    class="img-fluid"
                                    alt=""
                                    data-bs-toggle="modal"
                                    data-bs-target="#Modal4" />
                            </div>
                            <div class="modal-footer">
                                <p>Photo description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img
                    src="static\assets\About-extra-5.JPG"
                    class="img-thumbnail center-image"
                    alt=""
                    data-bs-toggle="modal"
                    data-bs-target="#Modal5" />
                <div class="modal fade" id="Modal5" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img
                                    src="static\assets\About-extra-5.JPG"
                                    class="img-fluid"
                                    alt=""
                                    data-bs-toggle="modal"
                                    data-bs-target="#Modal5" />
                            </div>
                            <div class="modal-footer">
                                <p>Photo description</p>
                            </div>
                        </div>
                    </div>
                </div>
                />
            </div>
            <div class="col">
                <img
                    src="static\assets\About-extra-6.PNG"
                    class="img-thumbnail center-image"
                    alt=""
                    data-bs-toggle="modal"
                    data-bs-target="#Modal6" />
                <div class="modal fade" id="Modal6" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img
                                    src="static\assets\About-extra-6.PNG"
                                    class="img-fluid"
                                    alt=""
                                    data-bs-toggle="modal"
                                    data-bs-target="#Modal6" />
                            </div>
                            <div class="modal-footer">
                                <p>Photo description</p>
                            </div>
                        </div>
                    </div>
                    />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-background-d-2-l"></div>
{% endblock %}
