{% extends "components/base.html" %}

{% block title %}KCS Consulting - About Me{% endblock %}

{% block content %}
    <div class="image-background-2">
        <div class="container px-4">
            <div class="col py-5">
                <h1 class="text-center fancy-title">About Me</h1>
            </div>
            <div class="row flex-lg-row-reverse">
                <!-- Profile Picture -->
                <div class="col-10 col-lg-4 mx-auto pb-3">
                    <img
                        class="d-block mx-lg-auto img-fluid rounded-3"
                        src="static\assets\unsplash-photo-2.jpg"
                        alt=""
                    />
                </div>

                <!-- Bio -->
                <div class="col-10 col-lg-8 px-lg-3 mx-auto">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Illum voluptatibus suscipit autem inventore delectus
                        architecto similique ducimus nulla et. Possimus
                        voluptatem suscipit et, molestias ipsam esse consectetur
                        ut odit blanditiis. Lorem ipsum dolor sit amet
                        consectetur, adipisicing elit. Impedit officia hic,
                        consequatur dolor incidunt ab sit quam quos laborum rem
                        obcaecati. Consectetur blanditiis fugit saepe earum
                        itaque vitae ipsam tempora?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Illum voluptatibus suscipit autem inventore delectus
                        architecto similique ducimus nulla et. Possimus
                        voluptatem suscipit et, molestias ipsam esse consectetur
                        ut odit blanditiis. Lorem ipsum dolor sit amet
                        consectetur, adipisicing elit. Impedit officia hic,
                        consequatur dolor incidunt ab sit quam quos laborum rem
                        obcaecati. Consectetur blanditiis fugit saepe earum
                        itaque vitae ipsam tempora?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Illum voluptatibus suscipit autem inventore delectus
                        architecto similique ducimus nulla et. Possimus
                        voluptatem suscipit et, molestias ipsam esse consectetur
                        ut odit blanditiis. Lorem ipsum dolor sit amet
                        consectetur, adipisicing elit. Impedit officia hic,
                        consequatur dolor incidunt ab sit quam quos laborum rem
                        obcaecati. Consectetur blanditiis fugit saepe earum
                        itaque vitae ipsam tempora?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Illum voluptatibus suscipit autem inventore delectus
                        architecto similique ducimus nulla et. Possimus
                        voluptatem suscipit et, molestias ipsam esse consectetur
                        ut odit blanditiis. Lorem ipsum dolor sit amet
                        consectetur, adipisicing elit. Impedit officia hic,
                        consequatur dolor incidunt ab sit quam quos laborum rem
                        obcaecati. Consectetur blanditiis fugit saepe earum
                        itaque vitae ipsam tempora?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Illum voluptatibus suscipit autem inventore delectus
                        architecto similique ducimus nulla et. Possimus
                        voluptatem suscipit et, molestias ipsam esse consectetur
                        ut odit blanditiis. Lorem ipsum dolor sit amet
                        consectetur, adipisicing elit. Impedit officia hic,
                        consequatur dolor incidunt ab sit quam quos laborum rem
                        obcaecati. Consectetur blanditiis fugit saepe earum
                        itaque vitae ipsam tempora?
                    </p>
                </div>
            </div>

            <!-- Photo Grid -->
            <div
                class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 py-5"
            >
                <div class="col">
                    <img
                        src="static\assets\unsplash-photo-1.jpg"
                        class="img-thumbnail object-fit-cover h-100"
                        alt=""
                    />
                </div>
                <div class="col">
                    <img
                        src="static\assets\unsplash-photo-2.jpg"
                        class="img-thumbnail object-fit-cover h-100"
                        alt=""
                    />
                </div>
                <div class="col">
                    <img
                        src="static\assets\unsplash-photo-1.jpg"
                        class="img-thumbnail object-fit-cover h-100"
                        alt=""
                    />
                </div>
                <div class="col">
                    <img
                        src="static\assets\unsplash-photo-3.jpg"
                        class="img-thumbnail object-fit-cover h-100"
                        alt=""
                    />
                </div>
                <div class="col">
                    <img
                        src="static\assets\unsplash-photo-2.jpg"
                        class="img-thumbnail object-fit-cover h-100"
                        alt=""
                    />
                </div>
                <div class="col">
                    <img
                        src="static\assets\unsplash-photo-1.jpg"
                        class="img-thumbnail object-fit-cover h-100"
                        alt=""
                    />
                </div>
                <div class="col">
                    <img
                        src="static\assets\unsplash-photo-3.jpg"
                        class="img-thumbnail object-fit-cover h-100"
                        alt=""
                    />
                </div>
                <div class="col">
                    <img
                        src="static\assets\unsplash-photo-2.jpg"
                        class="img-thumbnail object-fit-cover h-100"
                        alt=""
                    />
                </div>
            </div>

            <!-- Divider -->
            <div class="row">
                <img
                    class="col-4 mx-auto d-block img-fluid py-5"
                    src="static\assets\divider1.png"
                    alt=""
                />
            </div>
        </div>
    </div>
{% endblock %}
