{% extends "components/base.html" %} {% block title %}KDS Consulting - About{% endblock %} {% block content %}
<!-- Page Header -->
<div class="dark-background">
    <div class="container py-5 px-3 px-lg-0" data-aos="fade-up">
        <div class="row flex-lg-row-reverse align-items-center py-5">
            <div class="col-12 col-lg-7">
                <h1 class="text-center fw-bold light-font pt-xl-3 pb-3">Kaitlyn D. Schurmann</h1>
                <h3 class="text-center italic-font light-font pb-3">Independent Ecological Consultant</h3>
            </div>
            <div class="col-12 col-lg-5">
                <img
                    class="center-image box-shadow-left"
                    src="static\assets\about_header.jpeg"
                    alt="Kaitlyn smiling at the camera with a view of a body of water behind her and mountains in the distance." />
            </div>
        </div>
    </div>
</div>

<!-- Bio -->
<div class="light-background">
    <div class="container py-5 px-3 px-lg-0" data-aos="fade-up">
        <div class="row row-cols-1 row-cols-xl-2 flex-lg-row-reverse g-5 py-5">
            <!-- Picture -->
            <div class="col">
                <img
                    class="center-image box-shadow-right"
                    src="static\assets\about_bio.JPG"
                    alt="Kaitlyn kneeling on a rock at the water's edge pointing towards a large pink starfish below her." />
            </div>
            <!-- Bio Content -->
            <div class="col">
                <p class="text-justify">
                    Hi! My name is Kaitlyn Schurmann and I'm a Registered Professional Biologist and ecological
                    consultant based on Vancouver Island, Canada.
                </p>
                <p class="text-justify">
                    I grew up on a small dairy farm in British Columbia's Fraser Valley and I have been lucky to spend
                    time across Western Canada: from Saskatoon where I received my Bachelor of Science (Environmental
                    Science) at the University of Saskatchewan, to Edmonton where I completed my Master of Science
                    (Conservation Biology) at the University of Alberta, and back to BC, spending 5 years in Victoria
                    and finally settling in Campbell River where I live currently.
                </p>
                <p class="text-justify">
                    I'm passionate about applying a holistic lens to ecological issues and finding new ways to approach
                    on-the-ground stewardship challenges. In my work with the five Maa-nulth First Nations, the
                    interconnectedness of all things (hišukiš c̓awaak in the nuučaan̓uł language) is a guiding principle
                    and I strive to apply this view to all projects I take on.
                </p>
                <p class="text-justify">
                    Over the last 15 years, I have worked with Indigenous organizations, federal and provincial
                    governments, academic institutions, and private sector organizations in a range of natural resource
                    positions. My previous roles have included data management and analyses, fieldwork and data
                    collection, reporting, project management, and consultations with expertise in forest inventory,
                    wildlife management, ecological monitoring programs and statistics.
                </p>
                <p class="text-justify">
                    When I'm not working you can find me in the garden, hiking (new trail and camping recommendations
                    are always welcome!), traveling, and exploring the west coast with my partner and pup.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Photo Grid -->
<div class="dark-background">
    <div class="container py-5 px-3 px-lg-0" data-aos="fade-up">
        <h2 class="light-font text-center fw-bold pt-5">Photos From The Field</h2>
        <h4 class="light-font text-center fst-italic pb-3">(Click to Enlarge)</h4>
        <div class="row row-cols-1 row-cols-xxl-3 row-cols-xl-3 row-cols-2 g-3">
            <!-- Image 1 -->
            <div class="col">
                <img
                    src="static\assets\about_grid_1_thumb.jpg"
                    class="img-thumbnail center-image"
                    alt="A dark outline of a person standing beside a dog who is sitting. They are both standing on a rock cliff looking out at a large body of water during a sunset."
                    data-bs-toggle="modal"
                    data-bs-target="#Modal1" />
                <div class="modal fade" id="Modal1" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img
                                    src="static\assets\about_grid_1.jpg"
                                    class="img-fluid"
                                    alt="A dark outline of a person standing beside a dog who is sitting. They are both standing on a rock cliff looking out at a large body of water during a sunset."
                                    data-bs-toggle="modal"
                                    data-bs-target="#Modal1" />
                            </div>
                            <div class="modal-footer">
                                <p>Watching the sunset on the Salish Sea</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image 2 -->
            <div class="col">
                <img
                    src="static\assets\about_grid_2_thumb.jpg"
                    class="img-thumbnail center-image"
                    alt="Close up of a brown slug in a curly shell climbing over mushrooms on a log."
                    data-bs-toggle="modal"
                    data-bs-target="#Modal2" />
                <div class="modal fade" id="Modal2" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img
                                    src="static\assets\about_grid_2.jpg"
                                    class="img-fluid"
                                    alt="Close up of a brown slug in a curly shell climbing over mushrooms on a log."
                                    data-bs-toggle="modal"
                                    data-bs-target="#Modal2" />
                            </div>
                            <div class="modal-footer">
                                <p>Pacific sideband snail eating turkey tail (Trametes versicolor) mushrooms</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image 3 -->
            <div class="col">
                <img
                    src="static\assets\about_grid_3_thumb.jpg"
                    class="img-thumbnail center-image"
                    alt="Kaitlyn smiling at the camera while standing in a field with several cows in the distance behind her."
                    data-bs-toggle="modal"
                    data-bs-target="#Modal3" />
                <div class="modal fade" id="Modal3" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img
                                    src="static\assets\about_grid_3.jpg"
                                    class="img-fluid"
                                    alt="Kaitlyn smiling at the camera while standing in a field with several cows in the distance behind her."
                                    data-bs-toggle="modal"
                                    data-bs-target="#Modal3" />
                            </div>
                            <div class="modal-footer">
                                <p>Visiting the cows in New Zealand</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image 4 -->
            <div class="col">
                <img
                    src="static\assets\about_grid_4_thumb.JPG"
                    class="img-thumbnail center-image"
                    alt="Kaitlyn is walking along rows of cranberry bushes with her back to the camera."
                    data-bs-toggle="modal"
                    data-bs-target="#Modal4" />
                <div class="modal fade" id="Modal4" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img
                                    src="static\assets\about_grid_4.JPG"
                                    class="img-fluid"
                                    alt="Kaitlyn is walking along rows of cranberry bushes with her back to the camera."
                                    data-bs-toggle="modal"
                                    data-bs-target="#Modal4" />
                            </div>
                            <div class="modal-footer">
                                <p>Scouting for invasive insect pests</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image 5 -->
            <div class="col">
                <img
                    src="static\assets\about_grid_5_thumb.jpg"
                    class="img-thumbnail center-image"
                    alt="A close up of a green-blue sea anemone with hundreds of pointy limbs coming out from the edges."
                    data-bs-toggle="modal"
                    data-bs-target="#Modal5" />
                <div class="modal fade" id="Modal5" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img
                                    src="static\assets\about_grid_5.jpg"
                                    class="img-fluid"
                                    alt="A close up of a green-blue sea anemone with hundreds of pointy limbs coming out from the edges."
                                    data-bs-toggle="modal"
                                    data-bs-target="#Modal5" />
                            </div>
                            <div class="modal-footer">
                                <p>Anthopleura xanthogrammica (giant green anemone)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image 6 -->
            <div class="col">
                <img
                    src="static\assets\about_grid_6_thumb.PNG"
                    class="img-thumbnail center-image"
                    alt="Kaitlyn smiling at the camera while sitting in a kayak that is in a large body of water. Mountains are in the distant background."
                    data-bs-toggle="modal"
                    data-bs-target="#Modal6" />
                <div class="modal fade" id="Modal6" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img
                                    src="static\assets\about_grid_6.PNG"
                                    class="img-fluid"
                                    alt="Kaitlyn smiling at the camera while sitting in a kayak that is in a large body of water. Mountains are in the distant background."
                                    data-bs-toggle="modal"
                                    data-bs-target="#Modal6" />
                            </div>
                            <div class="modal-footer">
                                <p>Exploring Desolation Sound on BC's sunshine coast</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image 7 -->
            <div class="col">
                <img
                    src="static\assets\about_grid_7_thumb.jpg"
                    class="img-thumbnail center-image"
                    alt="A rocky oceanside cliff at a distance with a black bear standing at the top."
                    data-bs-toggle="modal"
                    data-bs-target="#Modal7" />
                <div class="modal fade" id="Modal7" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img
                                    src="static\assets\about_grid_7.jpg"
                                    class="img-fluid"
                                    alt="A rocky oceanside cliff at a distance with a black bear standing at the top."
                                    data-bs-toggle="modal"
                                    data-bs-target="#Modal7" />
                            </div>
                            <div class="modal-footer">
                                <p>Black bear eating from the tide pools at Botanical Beach, BC</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image 8 -->
            <div class="col">
                <img
                    src="static\assets\about_grid_8_thumb.jpg"
                    class="img-thumbnail center-image"
                    alt="Two women smiling the the camera while wearing white hard hats and bright red vests. They are standing in a forest."
                    data-bs-toggle="modal"
                    data-bs-target="#Modal8" />
                <div class="modal fade" id="Modal8" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img
                                    src="static\assets\about_grid_8.jpg"
                                    class="img-fluid"
                                    alt="Two women smiling the the camera while wearing white hard hats and bright red vests. They are standing in a forest."
                                    data-bs-toggle="modal"
                                    data-bs-target="#Modal8" />
                            </div>
                            <div class="modal-footer">
                                <p>Measuring trees with my volunteer assistant</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image 9 -->
            <div class="col">
                <img
                    src="static\assets\about_grid_9_thumb.JPG"
                    class="img-thumbnail center-image"
                    alt="A close up of a small brown frog that is camouflaged amongst earthy toned rocks."
                    data-bs-toggle="modal"
                    data-bs-target="#Modal9" />
                <div class="modal fade" id="Modal9" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img
                                    src="static\assets\about_grid_9.JPG"
                                    class="img-fluid"
                                    alt="A close up of a small brown frog that is camouflaged amongst earthy toned rocks."
                                    data-bs-toggle="modal"
                                    data-bs-target="#Modal9" />
                            </div>
                            <div class="modal-footer">
                                <p>Small frog camouflaging in the rocks</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-background-d-2-l"></div>
{% endblock %}
