{% extends "components/base.html" %} {% block title %}KDS Consulting{% endblock %} {% block content %}
<div class="light-background">
    <div class="container extra-top-padding py-5">
        <div class="row">
            <h1 class="text-center pb-5">Success!</h1>
            <hr />
            <p class="text-center paragraph-medium pt-5">Thank you for reaching out.</p>
            <p class="text-center paragraph-medium py-5">
                I will try to read and respond to your inquiry as soon as possible.
            </p>
            <p class="text-center paragraph-medium">Have a great day!</p>
        </div>
    </div>
</div>
<div class="footer-background-l-2-l"></div>
{% endblock %}
