{% extends "components/base.html" %}

{% block title %}KDS Consulting - Success{% endblock %}

{% block content %}
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
			<h2 class="mb-4 display-5 text-center">Success!</h2>
			<p class="mb-4 text-center">
				Thank you for reaching out.
				<br />I will try to read and respond to your inquiry as soon as possible. <br />Have a great day!
			</p>
		</div>
	</div>
</div>
{% endblock %}
