{% extends "components/base.html" %} {% block title %}KDS Consulting - Experience{% endblock %} {% block content %}
<div class="image-background-1 pt-5 pb-3">
    <div class="container px-4">
        <div class="row">
            <h1 class="display-5 fw-bold text-body-emphasis fancy-title text-center">Professional Experience</h1>
        </div>

        <!-- Divider -->
        <div class="row">
            <img class="col-4 mx-auto d-block img-fluid" src="static\assets\divider1.png" alt="" />
        </div>

        <!-- Experience Cards -->
        <div class="row">
            <h2 class="fw-bold fancy-title text-center pb-3">Experience Highlights</h2>
            <div class="col-10 col-xl-12 mx-auto">
                <div class="row">
                    <!-- Card 1 -->
                    <div class="col pb-2">
                        <div class="card text-center h-100">
                            <div class="card-header fs-5 fw-bold">Stewardship Liaison</div>
                            <ul class="list-group list-group-flush border-bottom-0">
                                <li class="list-group-item fs-5">First Nations of<br />The Treaty Society</li>
                            </ul>
                            <div class="card-body">
                                <p class="card-text">
                                    Work in support of the five Maa-nulth modern treaty Nations: Huu-ay-aht First
                                    Nations, Ka:'yu:'k't'h'/Che:k'tles7et'h' First Nations, t̓uk̓ʷaa?atḥ Nation,
                                    Uchucklesaht Tribe and Yuułu?ił?atḥ Government.
                                </p>
                            </div>
                            <ul class="list-group list-group-flush border-top-0">
                                <li class="list-group-item">June 2023 - present</li>
                            </ul>
                            <div class="card-footer">
                                <a href="#job-1" class="btn btn-success btn-sm">Learn More</a>
                            </div>
                        </div>
                    </div>

                    <!-- Card 2 -->
                    <div class="col pb-2">
                        <div class="card text-center h-100">
                            <div class="card-header fs-5 fw-bold">Wildlife Biostatistician</div>
                            <ul class="list-group list-group-flush border-bottom-0">
                                <li class="list-group-item fs-5">Fish & Wildlife Branch<br />BC Ministry of Forests</li>
                            </ul>
                            <div class="card-body">
                                <p class="card-text">
                                    Provided expert advice on wildlife and habitat stewardship and management activities
                                    under the BC Wildlife Act
                                </p>
                            </div>
                            <ul class="list-group list-group-flush border-top-0">
                                <li class="list-group-item">April 2018 - June 2023</li>
                            </ul>
                            <div class="card-footer">
                                <a href="#job-2" class="btn btn-success btn-sm">Learn More</a>
                            </div>
                        </div>
                    </div>

                    <!-- Card 3 -->
                    <div class="col pb-2">
                        <div class="card text-center h-100">
                            <div class="card-header fs-5 fw-bold">Position Title</div>
                            <ul class="list-group list-group-flush border-bottom-0">
                                <li class="list-group-item fs-5">Location<br />of Job</li>
                            </ul>
                            <div class="card-body">
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quos vel soluta
                                    unde fuga illum voluptates voluptas ratione suscipit, consectetur ex consequuntur
                                    quo maxime? Quis minima sequi laudantium voluptatum reprehenderit?
                                </p>
                            </div>
                            <ul class="list-group list-group-flush border-top-0">
                                <li class="list-group-item">Year - Year</li>
                            </ul>
                            <div class="card-footer">
                                <a href="#job-3" class="btn btn-success btn-sm">Learn More</a>
                            </div>
                        </div>
                    </div>

                    <!-- Card 4 -->
                    <div class="col pb-2">
                        <div class="card text-center h-100">
                            <div class="card-header fs-5 fw-bold">Position Title</div>
                            <ul class="list-group list-group-flush border-bottom-0">
                                <li class="list-group-item fs-5">Location<br />of Job</li>
                            </ul>
                            <div class="card-body">
                                <p class="card-text">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus similique
                                    numquam veritatis expedita voluptas. Eveniet modi nisi sapiente officia voluptatem
                                    perspiciatis fugiat autem nihil a. Qui aut impedit autem molestias.
                                </p>
                            </div>
                            <ul class="list-group list-group-flush border-top-0">
                                <li class="list-group-item">Year - Year</li>
                            </ul>
                            <div class="card-footer">
                                <a href="#job-4" class="btn btn-success btn-sm">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Education -->
<div class="background-1 py-5">
    <div class="container px-4">
        <div class="row">
            <h2 class="fw-bold fancy-title text-center pb-3">Education & Certification</h2>
            <div class="col-10 col-xl-12 mx-auto">
                <div class="row">
                    <div class="col-12 col-xl-4 pb-2 mx-auto">
                        <div class="card h-100">
                            <img src="static\assets\cab-bc-logo.png" class="card-img-top" alt="" />
                            <div class="card-header border-top fs-5 fw-bold text-center">
                                Registered Professional Biologist
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush text-center">
                                    <li class="list-group-item fw-bold border-0">#3893</li>
                                    <li class="list-group-item border-0">College of Applied Biology</li>
                                    <li class="list-group-item border-0">British Columbia</li>
                                    <li class="list-group-item fst-italic border-0">2021</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4 pb-2 mx-auto">
                        <div class="card h-100">
                            <img src="static\assets\uofa-logo.png" class="card-img-top" alt="" />
                            <div class="card-header border-top fs-5 fw-bold text-center">Master of Science (M.Sc.)</div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush text-center">
                                    <li class="list-group-item fw-bold border-0">Conservation Biology</li>
                                    <li class="list-group-item border-0">Department of Renewable Resources</li>
                                    <li class="list-group-item border-0">University of Alberta</li>
                                    <li class="list-group-item fst-italic border-0">2017</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4 pb-2 mx-auto">
                        <div class="card h-100">
                            <img src="static\assets\uofs-logo.png" class="card-img-top" alt="" />
                            <div class="card-header border-top fs-5 fw-bold text-center">
                                Bachelor of Science (B.Sc.)
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush text-center">
                                    <li class="list-group-item fw-bold border-0">Environmental Science</li>
                                    <li class="list-group-item border-0">College of Agriculture and Bioresources</li>
                                    <li class="list-group-item border-0">University of Saskatchewan</li>
                                    <li class="list-group-item fst-italic border-0">2013</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Skills -->
<div class="container px-4">
    <div class="row my-5">
        <div class="col" id="icon-grid">
            <h2 class="fw-bold fancy-title text-center pb-3">Skills & Abilities</h2>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
                <div class="col d-flex align-items-start">
                    <img class="px-1" src="static\assets\file-earmark-word-fill.svg" alt="" width="32" height="32" />
                    <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Microsoft Office</h3>
                        <p>Word, PowerPoint, Excel, Access</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img class="px-1" src="static\assets\file-code-fill.svg" alt="" width="32" height="32" />
                    <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Statistics Software</h3>
                        <p>R, ArcGIS, and SQL</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img class="px-1" src="static\assets\kanban-fill.svg" alt="" width="32" height="32" />
                    <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Project Management</h3>
                        <p>
                            Planning, implementing and managing projects, including operational programs, system
                            development and research
                        </p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img class="px-1" src="static\assets\people-fill.svg" alt="" width="32" height="32" />
                    <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Collaboration</h3>
                        <p>
                            Experience working with government, Indigenous communities, industry, and not-for-profit
                            organizations
                        </p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img class="px-1" src="static\assets\people-fill.svg" alt="" width="32" height="32" />
                    <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Skill</h3>
                        <p>Skill description here</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img class="px-1" src="static\assets\people-fill.svg" alt="" width="32" height="32" />
                    <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Skill</h3>
                        <p>Skill description here</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img class="px-1" src="static\assets\people-fill.svg" alt="" width="32" height="32" />
                    <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Skill</h3>
                        <p>Skill description here</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img class="px-1" src="static\assets\people-fill.svg" alt="" width="32" height="32" />
                    <div>
                        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Skill</h3>
                        <p>Skill description here</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Published Work -->
<div class="background-2 py-5">
    <div class="container px-4">
        <div class="row">
            <h2 class="fw-bold fancy-title text-center text-light pb-3">Published Works</h2>
            <div class="col-xl-10 mx-auto">
                <div id="PublishedPapers" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                        <button
                            type="button"
                            data-bs-target="#PublishedPapers"
                            data-bs-slide-to="0"
                            class="active"
                            aria-current="true"
                            aria-label="Slide 1"></button>
                        <button
                            type="button"
                            data-bs-target="#PublishedPapers"
                            data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button
                            type="button"
                            data-bs-target="#PublishedPapers"
                            data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="https://www.pinterest.com/frankjbello19/women-nice-butts/">
                                <img src="static\assets\paper1.png" class="d-block w-100" alt="" />
                            </a>
                        </div>
                        <div class="carousel-item">
                            <img src="static\assets\800x400box.png" class="d-block w-100" alt="" />
                        </div>
                        <div class="carousel-item">
                            <img src="static\assets\800x400box.png" class="d-block w-100" alt="" />
                        </div>
                    </div>
                    <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#PublishedPapers"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#PublishedPapers"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Detailed Experience -->
<div class="container px-4">
    <div class="row mt-5">
        <h2 class="fw-bold fancy-title text-center pb-3">Detailed Experience</h2>
    </div>
    <!-- Job 1 -->
    <div class="row" id="job-1">
        <div class="row flex-lg-row-reverse">
            <div class="col-lg-4 pb-3">
                <img src="static\assets\unsplash-photo-1.jpg" class="d-block mx-lg-auto img-fluid rounded-3" alt="" />
            </div>
            <div class="col-lg-8 pb-3">
                <h2>Stewardship Liaison</h2>
                <p class="lead">(June 2023-present)</p>
                <p class="lead">First Nations of the Maa-nulth Treaty Society</p>
                <ul>
                    <li>
                        Work in support of the five Maa-nulth modern treaty Nations: Huu-ay-aht First Nations,
                        Ka:'yu:'k't'h'/Che:k'tles7et'h' First Nations, t̓uk̓ʷaa?atḥ Nation, Uchucklesaht Tribe and
                        Yuułu?ił?atḥ Government.
                    </li>
                    <li>
                        Coordinate the development of a collective Maa-nulth Stewardship Network to monitor
                        environmental, cultural and social values including traditional use species, habitats,
                        biodiversity, archaeological sites and abiotic indicators across the traditional territory and
                        Treaty lands
                    </li>
                    <li>
                        Develop briefings and recommendations to Maa-nulth First Nation leadership and Maa-nulth Treaty
                        Society Board of Directors related to lands and resources work
                    </li>
                    <li>
                        Secure funding through federal, provincial and non-profit sources to support Maa-nulth Nations
                        to pursue and implement self-determined and self-governed stewardship projects
                    </li>
                    <li>
                        Support the analysis of and response to federal and provincial engagement initiatives related to
                        land and water stewardship. For example, BC's Wildlife Act Review, Biodiversity and Ecosystem
                        Health Framework, Watershed Security Strategy and Disaster and Climate Risk and Resilience
                        Assessment, and Canada's National Biodiversity Strategy, Framework for Aquatic Species at Risk
                        Conservation, First Nations Climate Leadership Agenda and Right to a Healthy Environment
                        Implementation.
                    </li>
                    <li>
                        Primary contact for major project impact assessments and liaise with federal departments to
                        gather data and communicate information to the Maa-nulth Nations
                    </li>
                    <li>
                        Draft technical and strategic reports and responses on lands and resources issues for Nation
                        leadership and government partners.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Divider -->
    <div class="row my-5">
        <img class="col-6 mx-auto d-block img-fluid" src="static\assets\divider1.png" alt="" height="" />
    </div>

    <!-- Job 2 -->
    <div class="row" id="job-2">
        <div class="col-lg-4 pb-3">
            <img src="static\assets\unsplash-photo-2.jpg" class="d-block mx-lg-auto img-fluid rounded-3" alt="" />
        </div>
        <div class="col-lg-8 pb-3">
            <h2>Wildlife Biostatistician</h2>
            <p class="lead">(April 2018-June 2023)</p>
            <p class="lead">Fish & Wildlife Branch, Ministry of Forests</p>
            <ul>
                <li>
                    Provided expert advice on wildlife and habitat stewardship and management activities under the BC
                    Wildlife Act
                </li>
                <li>
                    Supported stewardship decisions through data analyses, including population, harvest and mortality
                    estimates
                </li>
                <li>
                    Interpreted and applied the Wildlife Act, and related regulations, policies and procedures, and the
                    Species at Risk Act (Canada) as it relates to wildlife in BC
                </li>
                <li>
                    Advised decision makers and executive on wildlife, fish and habitat stewardship and licensing issues
                    through briefing notes, presentations, and meetings
                </li>
                <li>
                    Assessed and monitored effectiveness of wildlife regulations, including in protected areas, through
                    complex analyses using R software, MS Access/SQL, and custom software
                </li>
                <li>
                    Utilized wildlife habitat data, wildlife ranges and habitat requirements to make recommendations on
                    wildlife stewardship activities
                </li>
                <li>
                    Led the Allocation Support Team to coordinate provincial wildlife allocation, including
                    collaboration with regional staff, supporting First Nations engagement and co-management, and
                    advising on wildlife allocation policies
                </li>
                <li>
                    Project manager and data lead for the Data & Licensing Transformation Project to modernize fish &
                    wildlife data and licensing systems: identify and assess data needs to support decisions, prioritize
                    business process improvement projects, data management, stakeholder engagement, internal and
                    external training
                </li>
                <li>
                    Led the Fish & Wildlife Branch Open Data Strategy: led Branch working group, published fish and
                    wildlife datasets, developed custom reports and communicated to both scientific and non-scientific
                    audiences
                </li>
                <li>
                    Responsible for administering the guide outfitter program: harvest analysis and quota
                    recommendations to statutory decision maker, guiding certificate tenures, licensing, liaising with
                    clients
                </li>
                <li>
                    Developed and provided recommendations on policies, procedures, regulations, project plans, briefing
                    notes and reports
                </li>
                <li>Supported manager in meetings with First Nations on stewardship and data issues</li>
                <li>
                    Organized and participated in cross-Ministry and stakeholder meetings, including the Provincial
                    Hunting and Trapping Advisory Team (PHTAT) and Guide Outfitters Association of BC (GOABC)
                </li>
                <li>
                    Angling data lead: Oracle and MS Access database management and improvement, angling data analysis
                    and reporting
                </li>
                <li>
                    Participated in the review of harvest management and science for northern caribou, including data
                    support, policy analysis and recommendations
                </li>
                <li>
                    Supervisor to the Wildlife Data Coordinator: responsible for establishing work priorities,
                    MyPerformance, time and leave approvals, and mentoring
                </li>
            </ul>
        </div>
    </div>

    <!-- Divider -->
    <div class="row my-5">
        <img class="col-6 mx-auto d-block img-fluid" src="static\assets\divider1.png" alt="" height="100px" />
    </div>

    <!-- Job 3 -->
    <div class="row flex-lg-row-reverse" id="job-3">
        <div class="col-lg-4 pb-3">
            <img src="static\assets\unsplash-photo-1.jpg" class="d-block mx-lg-auto img-fluid rounded-3" alt="" />
        </div>
        <div class="col-lg-8 pb-3">
            <h2>Job Title</h2>
            <p class="lead">(Time - Time)</p>
            <p class="lead">Job Location</p>
            <ul>
                <li>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, ipsum voluptas reiciendis
                    quo quam unde non doloremque dolor labore nam enim dolorem praesentium totam, neque ea amet.
                    Blanditiis, dolorum assumenda!
                </li>
                <li>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem rerum obcaecati earum eveniet,
                    adipisci dolorum quasi. Excepturi sint corrupti ab a vitae rerum necessitatibus in, ullam optio quam
                    ipsa quas!
                </li>
                <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nihil, dolore iusto tempora
                    vero fugit necessitatibus alias? Saepe delectus, ratione officiis nostrum labore obcaecati illum et
                    non omnis voluptas iste.
                </li>
                <li>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni dicta dolorum amet placeat
                    blanditiis sapiente omnis dolores obcaecati, quo ratione tenetur, doloremque, nihil a perspiciatis!
                    Vero doloremque nisi dolorem rem!
                </li>
                <li>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore nobis expedita quia sunt et
                    aspernatur impedit illum laboriosam cumque, unde optio dolores alias, debitis magni nisi? Cumque
                    veritatis quia iure?
                </li>
                <li>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore nobis expedita quia sunt et
                    aspernatur impedit illum laboriosam cumque, unde optio dolores alias, debitis magni nisi? Cumque
                    veritatis quia iure?
                </li>
                <li>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore nobis expedita quia sunt et
                    aspernatur impedit illum laboriosam cumque, unde optio dolores alias, debitis magni nisi? Cumque
                    veritatis quia iure?
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
