{% extends "components/base.html" %} {% block title %}KDS Consulting{% endblock %} {% block content %}
<!-- Hero -->
<div class="">
    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto m-5" src="./static/assets/Maru.png" alt="" width="72" height="72" />
            <h1 class="fancy-title p-3">KDS Consulting</h1>
            <div class="col-12 col-lg-8 col-xl-6 mx-auto">
                <p class="mb-5">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti veritatis maiores recusandae ex
                    magni accusantium voluptatem cumque fuga? Quod explicabo ducimus dolor ipsam natus aliquam porro
                    harum debitis aspernatur dolores?
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Feature: About Page -->
<div class="background-2">
    <div class="container">
        <div class="py-5">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <img class="d-block img-responsive fit-image p-3" src="./static/assets/square-image.jpg" alt="" />
                </div>
                <div class="col-12 col-lg-6">
                    <div class="p-5 mx-xxl-5 light-text">
                        <h2>All About Me</h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti veritatis maiores
                            recusandae ex magni accusantium voluptatem cumque fuga? Quod explicabo ducimus dolor ipsam
                            natus aliquam porro harum debitis aspernatur dolores?
                        </p>
                        <button type="button" class="btn btn-primary btn-transform">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Feature: Experience Page -->

<div class="background-3">
    <div class="container">
        <div class="py-5">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="p-5 mx-xxl-5 light-text">
                        <h2>My Experience and Skills</h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti veritatis maiores
                            recusandae ex magni accusantium voluptatem cumque fuga? Quod explicabo ducimus dolor ipsam
                            natus aliquam porro harum debitis aspernatur dolores?
                        </p>
                        <button type="button" class="btn btn-primary btn-transform">Learn More</button>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <img class="d-block img-responsive fit-image p-3" src="./static/assets/square-image.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
