<!doctype html>
<html lang="en">
    <head>
        {% include "components/head.html" %}

        <!-- Page title -->
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
        <!-- Header -->
        <header>{% include "components/header.html" %}</header>

        <!-- Page content -->
        <main>
            <div>{% block content %}{% endblock %}</div>
        </main>

        <!-- Footer -->
        <footer>{% include "components/footer.html" %}</footer>
    </body>
</html>
