<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://swetrix.org/swetrix.js" defer></script>
        {% include "components/head.html" %}

        <!-- Page title -->
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <!-- Header -->
        <header class="sticky-top">{% include "components/header.html" %}</header>

        <!-- Page content -->
        <main>
            <div>{% block content %}{% endblock %}</div>
        </main>

        <!-- Footer -->
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                swetrix.init("FPprAlHS1Rmk", {
                    apiURL: "https://swetrix-api.jirachi.xyz/log",
                });
                swetrix.trackViews();
            });
        </script>

        <noscript>
            <img
                src="https://swetrix-api.jirachi.xyz/log/noscript?pid=FPprAlHS1Rmk"
                alt=""
                referrerpolicy="no-referrer-when-downgrade" />
        </noscript>
        <footer>{% include "components/footer.html" %}</footer>
        <section>{% include "components/scripts.html" %}</section>
    </body>
</html>
