{% block header %}
<nav class="navbar navbar-expand-md dark-background" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand light-font ps-3" href="{{ url_for('home') }}">
            <img
                href="{{ url_for('home') }}"
                alt=""
                class="header-image d-inline-block"
                src="./static/assets/fern-white.png" />
            KDS Consulting
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0 pe-3">
                <li class="nav-item pe-3">
                    <a class="nav-link pb-0" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item pe-3">
                    <a class="nav-link pb-0" href="{{ url_for('about') }}">About</a>
                </li>
                <li class="nav-item pe-3">
                    <a class="nav-link pb-0" href="{{ url_for('experience') }}">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pb-0" href="{{ url_for('contact') }}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %}
