{% block head %}
<!-- Metadata -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:title" content="Kaitlyn Schurmann | Registered Professional Biologist | KDS Consulting, Vancouver Island, BC" />
<meta
    property="og:description"
    content="Offering expert advice, guidance, and support on a range of ecological projects, from stewardship and monitoring to project management and consultation." />
<meta property="og:url" content="https://kdsconsulting.ca" />
<meta property="og:image" content="https://i.imgur.com/QpXZH6M.jpeg" />

<!-- CSS -->
{% block styles %} {{ bootstrap.load_css() }}
<!-- Site icon -->
<link rel="icon" href="./static/assets/logo2.png" />

<link rel="stylesheet" href="static/style.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<!-- Body font -->
<link
    href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
    rel="stylesheet" />
<!-- Title Font -->
<link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet" />
<!-- Material Icons -->
<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
{% endblock %} {% endblock %}
